@model int
    <div class=" text-center">
        <h2>Thanks for an placing order @Model</h2>
        <p>We`ll ship your goods as soon as possible.</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Retorn to Store</a>
    </div>